<!--<button onclick="snapshot()" >Snapshot</button>-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body>
<div id="full" align="center" style="margin-top:5%;">
  <div id="main-form">
    <div id="display-side">
        <div id="stream">
          <div id="webcam-stream">
            <p>Web Cam Streaming</p>
            <video id="video" width="320" height="240" autoplay>Web Cam Streaming</video>
          </div>
          <div id="capture-image">
              <p>Capture Image</p>
              <canvas id="canvas" width="320" height="240" style='border : solid 1px green;'>Capture Image</canvas>
          </div>
        </div>
        <div id="video-actions">
          <button id="start-camera" style="display: none;">Start Camera</button>
          <button id="click-photo" style="display: none;">Click Photo</button>
        </div>
    </div>
    <div id="action-side" style="margin-top:1%">
        <input type="submit" class="btn-success" id="detect-face" name="detect-face" value="Detect Face"/>
        <input type="submit" class="btn-info" id="get-detect-face" name="get-detect-face" value="Get Detected Faces"/>
        <input type="submit" class="btn-danger" id="search-face" name="search-face" value="Search Faces"/>
    </div>
    <div id="result" style="margin-top : 5%;"></div>
  </div>
  <div id="loading" style="display:none;width:100%;z-index: 10000;" align="center">
    <p class="warning-text" id="process" name="process"></p>
    <img id="loading-image" src="images?fileName=loading.gif" width="50" height="50" align="center"></img>
</div>
</div>
</body>
</html>
<link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="css?fileName=index.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="js?fileName=main.js"></script>



